@model FractalDemo.ViewModel.IndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>
<br />

<div class="row">
    <div class="col-10">
        @using (Html.BeginForm("IndexBuscar", "Ordenes",FormMethod.Post, null)){

            <p>
                ClientName: @Html.TextBox("buscarOrden")
                <input type="submit" value="Search">
            </p>
        }
    </div>
    <div class="col-2">
        <p align="right">
            <a class="btn btn-primary" asp-action="Create">Create Order</a>
        </p>
    </div>
</div>



<table class="table" style="text-align:center;">
    <thead style="background-color:lavender;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orden.NumOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden.EstadoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden.MontoFinal)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ordenes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPedido)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.MontoFinal)    
            </td>
            <td>
                <a style="text-decoration:none;" asp-action="Edit" asp-route-id="@item.Orden_Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    Html.RenderPartial("_paginador", Model);
}